@import "./card-component.css";

/* 카드 레이아웃 */

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  /* @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  } */

  .ipad-pro {
    background: url(../products/ipad_pro.jpeg) no-repeat center / cover;

    @media (min-width: 1024px) {
      background: url(../products/ipad_pro_wide.jpeg) no-repeat center / cover;
    }
  }

  .ipad-air {
    background: url(../products/ipad_air.jpeg) no-repeat center / cover;

    @media (min-width: 1024px) {
      background: url(../products/ipad_air_wide.jpeg) no-repeat center / cover;
    }
  }

  .iphone15-pro {
    background: url(../products/iphone15_pro.jpeg) no-repeat center / cover;

    @media (min-width: 1024px) {
      background: url(../products/iphone15_pro_wide.jpeg) no-repeat center /
        cover;
    }
  }

  .small {
  }

  .iphone15 {
    background: url(../products/iphone15.jpeg) no-repeat center / cover;

    @media (min-width: 1024px) {
      background: url(../products/iphone15_2x.jpeg) no-repeat center/cover;
    }
  }

  .watch {
    background: url(../products/apple_watch.jpeg) no-repeat center / cover;
    @media (min-width: 1024px) {
      background: url(../products/apple_watch_2x.jpeg) no-repeat center/cover;
    }
  }

  .macbook-air {
    background: url(../products/macbook_air.jpeg) no-repeat center / cover;
    @media (min-width: 1024px) {
      background: url(../products/macbook_air_2x.jpeg) no-repeat center/cover;
    }
  }

  .aidpods-pro {
    background: url(../products/airpods_pro.jpeg) no-repeat center / cover;

    @media (min-width: 1024px) {
      background: url(../products/airpods_pro_2x.jpeg) no-repeat center/cover;
    }
  }
}
