body{
  width: 396px;
  height: 195px;
  padding: 100px;
  margin: 0 auto;
  background-color: white;
}

.avatars {
  font-size: 0;
  text-align: center;
  display: inline-block;
 
  * {
    display: inherit;
  }
}

.avatars__list {
  position: relative;
  text-align: center;
  padding: 5px 0;
  margin 20px 0;
}

.avatars__list li {
  position: relative;
}

.avatars__list li::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 47px;
  left: 57px;
  border :1px solid white;
 
}

.avatars_gray::after{
  background-color: #dbdbdb;
}

.avatars_green::after{
  background-color: #4cfe88;
}

.avatars__list li img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 0 10px;
}


