body{
  width: 396px;
  height: 195px;
  margin: 0;
}

.avatars {
  border: 1px solid blue;
  list-style-type: none;
  font-size: 0;
  padding: 20px;
  text-align: center;
  display: inline-block;
 
  * {
    display: inherit;
  }
}

.avatars__list {
  position: relative;
  text-align: center;
  padding: 5px 0;
  margin 20px 0;
}

.avatars__list li {
  display: inline-block;
  position: relative;
}

.avatars__list li::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  top: 50px;
  left: 55px;
  border :1px solid white;
 
}

.avatars_gray::after{
  background-color: rgb(214, 214, 214);
}

.avatars_green::after{
  background-color: rgb(97, 253, 154);
}

.avatars__list li img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 0 10px;
}


