@import "/src/common/best-reset.css";
@import "/src/common/theme.css";
@import "/src/common/a11y.css";
@import "/src/common/base.css";

body {
  font-family: "SUIT", sans-serif;
}

/* 로고 */
.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 입력 폼 */
.input {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  margin-block: 10px;

  .login-id,
  .login-password {
    display: flex;
    flex: 1 0 0;
  }

  input {
    block-size: 1.5rem;
    border: 1px solid #dadada;
    font-size: 0.875rem;
    padding: 10px;
    flex: 1 0 0;

    &:focus {
      border: 1px solid #03cf5d;
      outline: none;
      background-color: #e9f0fd;
    }
  }
}

/* 로그인 버튼 */
.login-button {
  button {
    background-color: #03cf5d;
    color: #fff;
    border: 0px;
    width: 100%;
    height: 48px;
  }
}

/* 체크박스 컴퍼넌트 */
.login-checkbox {
  .toggle {
    display: none;
  }

  .toggle-label {
    display: block;
    cursor: pointer;
    line-height: 0;
  }

  .toggle-image {
    width: 23px;
    transition: opacity 0.3s ease;
  }

  .toggle:checked + .toggle-label .toggle-image {
    content: url("/src/login/svg/checked.svg"); /* 체크박스를 선택하면 "on-image.jpg"로 변경 */
  }
}

/* 로그인 상태유지 컴퍼넌트 */
.login-state {
  font-size: 14px;
}

/* ip보안 컴퍼넌트 */
.login-ip {
  display: none;
  font-size: 14px;
}

/* ip보안 on,off 컴퍼넌트 */
.login-ip-onoff {
  display: none;
  color: #999999;
  font-size: 14px;

  #on-off-toggle {
    display: none;
  }

  #on-off-toggle:checked + label {
    color: #03cf5d;
  }

  #on-off-toggle:checked + label strong::before {
    content: "ON";
  }

  #on-off-toggle:not(:checked) + label strong::before {
    content: "OFF";
  }
}

/* ip보안 박스 */
.login-ip-wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.25rem;
}

/* 로그인 상태유지랑 체크박스 합친거 */
.checkbox-state-wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;

  .login-state {
    display: flex;
    align-items: center;
  }
}

/* 로고 제외 다 합친거 */
.input-button-checkbox-state-wrapper {
  margin: 20px;
  display: flex;
  flex-flow: column nowrap;

  .checkbox-state-wrapper {
    margin-left: auto;
  }

  @media (min-width: 786px) {
    display: flex;
    .checkbox-state-wrapper {
      display: flex;
    }

    .login-ip-wrapper {
      display: flex;
      * {
        display: inherit;
      }
    }
  }
}

/* 최종 */
.login-container {
  margin: 10px;
  margin-top: 150px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  .login-button {
    margin-bottom: 5px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
