@import "/src/common/best-reset.css";
@import "/src/common/a11y.css";
@import "/src/common/base.css";

body {
  font-family: "SUIT", sans-serif;
}

/* 로고 */
.login-logo {
  margin: 0 auto;
}

/* 입력 폼 */
.input {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.625rem;
  margin-block: 0.625rem;

  .login-id,
  .login-password {
    display: flex;
    flex: 1 0 0;
  }

  input {
    block-size: 1.5rem;
    border: 1px solid #dadada;
    font-size: 0.875rem;
    padding: 0.625rem;
    flex: 1 0 0;

    &:focus {
      border: 1px solid #03cf5d;
      outline: none;
      background-color: #e9f0fd;
    }
  }
}

/* 로그인 버튼 */
.login-button {
  button {
    background-color: #03cf5d;
    color: #fff;
    border: 0px;
    width: 100%;
    height: 3rem;
  }
}

/* 체크박스 컴퍼넌트 */
.login-checkbox {
  .toggle {
    display: none;
  }

  .toggle-label {
    display: block;
    cursor: pointer;
    line-height: 0;
  }

  .toggle-image {
    width: 1.4375rem;
  }

  .toggle:checked + .toggle-label .toggle-image {
    content: url("/src/login/svg/checked.svg");
  }
}

/* ip보안 on,off 컴퍼넌트 */
.login-ip-onoff {
  color: #999999;
  font-size: 0.875rem;

  #on-off-toggle {
    display: none;
  }

  #on-off-toggle:checked + label {
    color: #03cf5d;
  }

  #on-off-toggle:checked + label strong::before {
    content: "ON";
  }

  #on-off-toggle:not(:checked) + label strong::before {
    content: "OFF";
  }
}

/* ip보안 박스 */
.login-ip-wrapper {
  display: none;

  a {
    text-decoration: none;
    color: black;
    font-size: 0.875rem;
  }

  @media (min-width: 786px) {
    display: flex;
    gap: 5px;
  }
}

.login-ip-state-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  @media (min-width: 786px) {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
  }
}

/* 로그인 상태유지랑 체크박스 합친거 */
.checkbox-state-wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  margin-left: auto;

  .login-state {
    display: flex;
    align-items: center;
  }

  @media (min-width: 786px) {
    margin-left: 0;
  }
}

/* 최종 */
.login-container {
  margin: 0.625rem;
  margin-top: 9.375rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  .login-button {
    margin-bottom: 0.3125rem;
  }

  @media (min-width: 786px) {
    width: 500px;
    margin: 150px auto;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
